<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testNGLearning">
<test name="simpleTest">
<classes>
<class name="DataDriven.FrameworkDataDriven.BaseTest" />
<class name="DataDriven.Framework.TestCases.Action" />
<class name="DataDriven.Framework.TestCases.Login" />
 </classes>
 </test>
</suite>